asgiref==3.8.1
bleach==5.0.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.6
django-bleach==3.1.0
django-dashub==1.0.2
django-debug-toolbar==5.0.1
django-filehub==3.1.1
django-tinymce==4.1.0
djangorestframework==3.15.2
Faker==37.0.0
gunicorn==23.0.0
idna==3.10
packaging==24.2
pillow==11.1.0
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
standard-imghdr==3.13.0
tinycss2==1.1.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
webencodings==0.5.1
