{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% load static %}

{% block hero %}
<div class="flex items-center justify-center h-screen bg-gray-100">
    <div class="text-center">
        <h1 class="text-7xl font-bold text-[#025098]">404</h1>
        <p class="text-xl text-gray-700 mt-4">Oops! The page you're looking for doesn't exist.</p>
        <a href="/" class="mt-6 inline-block px-6 py-3 text-white bg-[#025098] rounded-lg hover:bg-blue-700 transition">
            Go Back Home
        </a>
    </div>
</div>
{% endblock %}