{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% load static %}

{% block hero %}
<!-- About section -->
<section
  class="relative"
  style="
    background-image: url('https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-attachment: fixed;
  "
>
  <div class="absolute top-0 left-0 w-full h-full bg-black opacity-0 z-0"></div>

  <div class="relative md:h-[300px] h-[200px] w-full">
    <img
      src="{% static 'image/about_img.avif' %}"
      alt="Overlay"
      class="absolute top-0 left-0 w-full h-full object-cover opacity-100 z-20"
    />

    <div
      class="absolute top-0 left-0 w-full h-full z-30 flex justify-center items-center"
    >
      <h1 class="text-5xl text-white font-bold">About Us</h1>
    </div>
  </div>

  <div class="bg-white">
    <section class="bg-white z-20 opacity-100 max-w-7xl m-auto px-4 ">
      <div class="card flex flex-col">
        <div class="  grid md:grid-cols-2 grid-cols-1 lg:pt-20 md:pt-10 pt-4 lg:gap-20 md:gap-10 gap-4 mb-10 ">
        {% for item in about_items %}
          {% if item.category == "About" %}

          <figure>
            <img
              src="{{ item.image }}"
              class="min-h-52 w-full object-cover"
              alt="{{ item.title }}"
            />
          </figure>
          <div class="flex flex-col justify-center">
            <h3 class="text-2xl font-bold">
              {{ item.title }}
            </h3>
            <div class="text-sm items-center">
              {{ item.description|safe }}

            </div>
          </div>
                {% endif %}

      {% endfor %}
        </div>
         </div>
    </section>


    <!--    Our vesion-->

    <section
      class="bg-white opacity-100 lg:py-20 md:py-10 py-4 flex flex-col md:flex-row px-4 md:px-10 lg:px-0 z-20 max-w-7xl m-auto lg:pt-20 md:pt-10 pt-4 lg:gap-20 md:gap-10 gap-4"
    >
      <div class="flex flex-col gap-6">
        <h3 class="text-xl font-bold">Our version</h3>

          <div class="flex  flex-col gap-6">

          {% for item in about_items %}
            {% if item.category == "vision" %}
      <div class="flex   ">
            <figure>
            <img
              src="{{ item.image }}"
              class="object-cover h-8 w-[200px] "
              alt="{{ item.title }}"
            />
            </figure>
          <div class="flex flex-col justify-center">
            <h3 class="text-2xl font-bold">
              {{ item.title }}
            </h3>
            <div class="text-sm items-center">
              {{ item.description|safe }}

            </div>
          </div>
         </div>
          {% endif %}

        {% endfor %}


      </div>
      </div>
      <div class="flex flex-col gap-6">
        {% for item in about_items %}
          {% if item.category == "exit" %}


          <div class="flex flex-col justify-center">
            <h3 class="text-2xl font-bold">
              {{ item.title }}
            </h3>
            <div class="text-sm items-center flex flex-col">
              {{ item.description|safe }}

            </div>
          </div>
        </div>
          {% endif %}

      {% endfor %}

    </section>
  </div>


  <section class="w-full ">
    <div class="text-white flex justify-center items-center h-64">
      <h3 class="text-5xl text-center max-w-4xl">
        We are true to ourselves, and commit to always perform at our best.
      </h3>
    </div>
  </section>
</section>
<!--    Frequently asked questions  -->
<section class="max-w-7xl m-auto lg:px-0  md:px-10 px-4 lg:pt-20 md:pt-10 pt-4 lg:gap-20 md:gap-10 gap-4">
  <h2 class="text-3xl font-bold text-center mb-8">
    Frequently Asked Questions
  </h2>
  <div class="grid md:grid-cols-2 grid-cols-1 gap-10">
    <div class="w-full">
      {% for faq in faqs %}
        <details class="bg-white border rounded-lg p-4 mb-4 shadow">
          <summary class="cursor-pointer text-lg font-semibold">
           {{ faq.question }}
          </summary>
          <p class="mt-2 text-gray-700">
             {{ faq.answer }}
          </p>
        </details>
      {% endfor %}
    </div>

    <div class="w-full">
      <figure class="w-full">
        <img class="w-full" src="{% static 'image/about_img.avif' %}" alt="" />
      </figure>
    </div>
  </div>

  <style>
    @media (min-width: 768px) {
      .card:nth-child(even) {
        flex-direction: row-reverse;
        background-color: #274F74;
      }
    }
  </style>

</section>

{% endblock %}

