{% extends "base.html" %}
{% load static %}


{% block hero %}
    <!-- services section -->
    <div class="mt-24">
        <div class="flex flex-col  w-full">
            <div class="absolute w-full ">
                <img class="h-56 w-full object-cover " src="image/abut.png" alt="">
            </div>
            <div class="z-10 container px-5 md:px-10 lg:px-20 mx-auto md:mb-10 mb-5">
                <div class="rounded-2xl mt-36  bg-white shadow-md  py-8 justify-between flex items-center  mb-8 px-10">
                    <div>
                        <h3 class="">About</h3>
                        <div class=" w-20 h-1 bg-yellow-500"></div>
                    </div>
                    <a class="text-2xl font-normal" href="">Home > About us </a>
                </div>
            </div>
        </div>
    </div>

    <!-- STAT section -->

    <section class="container px-5 md:px-10 lg:px-20 mx-auto md:mb-10 mb-5">
        <h2 class="font-bold lg:text-[3.29rem] mb-8">We will have a STAT section here. just like below one</h2>
        <div class="grid  grid-col-1 md:grid-cols-2 lg:grid-cols-4 border-gray-300 lg:items-center lg:gap-0 gap-4 lg:border-x-2">
            <div class="col-span-1 lg:border-r-2 md:border-2 lg:border-0 border-2 rounded-xl ">
                <div class="bg-white p-4 rounded-lg text-center">
                    <h3 class="text-6xl font-bold text-orange-600 ">60%</h3>
                    <p class="text-black uppercase font-bold text-xl ">Clients <br> with us 10 or <br> more years</p>
                </div>
            </div>
            <div class="col-span-1 lg:border-r-2 lg:border-0 border-2 md:border-2 rounded-xl ">
                <div class="bg-white p-4  text-center">
                    <h3 class="text-4xl text-black font-bold">25</h3>
                    <p class="text-black font-bold text-base uppercase"><span class="uppercase text-6xl font-bold text-orange-600 ">cfp</span><br> <span class=" text-orange-600 text-2xl">professionals</span> <br> and just as many mba's</p>
                </div>
            </div>
            <div class="col-span-1 lg:border-r-2 md:border-2 border-2 lg:border-0 rounded-xl ">
                <div class="bg-white p-4  text-center">
                    <h3 class="text-base uppercase text-black font-bold">our associates <br> stay and grow with us </h3>
                    <p class="text-orange-600  font-bold"><span class="text-6xl font-bold text-orange-600">9</span> <br> <span class="text-2xl ">years</span> <br>
                        <span class="text-black uppercase font-bold text-base">average employment</span>

                    </p>
                </div>
            </div>
            <div class="col-span-1  lg:border-0 border-2 rounded-xl  ">
                <div class="bg-white p-4 rounded-lg my-auto text-center py-9 md:pt-9 lg:pt-0 ">
                    <h3 class="text-2xl font-bold text-orange-600 uppercase ">retention</h3>
                    <span class="text-6xl font-bold text-black">95%</span>
                    <p class="text-orange-600 uppercase font-bold text-base">3 years average</p>
                </div>
            </div>
        </div>
    </section>

<!-- mission vission up cntent pages -->
    <section class="container px-5  md:px-10 lg:px-20 mx-auto md:mb-10 mb-5">
        <div class="grid grid-cols-1 md:grid-cols-5 gap-6 items-center w-full h-full">
            <p class=" md:col-span-3 font-light text-gray-500">In publishing and graphic design, Lorem ipsum is a
                placeholder text commonly used to demonstrate the visual form of a document or a typeface without
                relying on meaningful content.In publishing and graphic design, Lorem ipsum is a placeholder text
                commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful
                content. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi quidem rem hic natus aliquid, nemo eaque asperiores, quasi, quibusdam nobis adipisci magni totam iure molestias odit laborum cum explicabo? Amet!
            </p>
            <img class="md:col-span-2 w-full h-full" src="image/about_img.png" alt="">
        </div>
    </section>

    <!-- Mission & Vision -->

    <section class="container px-5 md:px-10 lg:px-20 mx-auto md:mb-10 mb-5 ">
        <div class="mx-auto bg-white">
            <h3>Mission & Vision</h3>
            <div class="mt-2 w-20 h-1 bg-yellow-500"></div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-5 items-center md:h-full w-full">
                <div class="col-span-2 w-full h-full">
                    <img class=" object-cover w-full " src="image/rocket.png" alt="mission and vission">
                </div>
             <p class="col-span-3 p-12 rounded-2xl bg-yellow-50"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis iure facilis non sed sapiente itaque provident beatae et, cumque culpa magnam vel sit animi hic esse iste sint. Commodi, laudantium! In publishing and graphic design, Lorem ipsum is a placeholder text commonly
                used to demonstrate the visual form of a document or a typeface without relying on meaningful content
            </p>
         
        </div>
    </section>
{% endblock  %}
