{% extends "index.html" %}
{% load static %}

{% block hero %}
<section class="px-[100px]">
  <div class="space-y-10">
    {% for publications in publications %}
    <div class="card flex items-center gap-20">
      <!-- Text Section -->
      <div class="flex flex-col w-1/2">
        <h3 class="text-2xl">{{ publications.title }}</h3>
        <p class="text-base">
          {{ publications.description|safe }}
        </p>
      </div>

      <!-- Image Section -->
      <figure class="flex justify-center w-1/2">
        <img src="{{ publications.image }}" alt="{{ publications.title }}" class="h-[300px] w-full object-cover self-center">
      </figure>
    </div>
    {% endfor %}
  </div>

  <style>
    .card:nth-child(even) {
      flex-direction: row-reverse;
    }
  </style>
</section>
{% endblock %}
