{% extends "index.html" %}
{% load static %}

{% block hero %}
    <section>
        <div class="relative h-[300px] w-full">
            <img class="h-full w-full object-cover " src="image/service.png" alt="">
            <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50 z-10"></div>
            <div class="absolute top-0 left-0 w-full h-full z-20 flex justify-center items-center">
                <h1 class="text-5xl text-white font-bold">Our Services</h1>
            </div>
        </div>
    </section>

{% endblock  %}